<section class="col-img-with-title">
  <div class="cover_wrapper">
    <div class="container">
      {% if section.settings.heading != blank %}
        <div class="header_heading">
          <h3 class="heading title">
            {{ section.settings.heading }}
          </h3>
        </div>
      {% endif %}
      <div class="block_wrapper">
        {% for block in section.blocks %}
          <div class="block-item">
            <div class="image_wrapper">
              <a href="{{ block.settings.link }}" class="item_link">
                <img src="{{ block.settings.img | img_url: 'master'}}" width="" height="" loading="lazy"/>
              </a>
            </div>
            <h2 class="title">
              {{ block.settings.title }}
            </h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Collection with img title",
    "class":"collection-with-img-title",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      }
    ],
    "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "id": "img",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"url",
          "id":"link",
          "label":"Link"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "Collection with img title",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}